 <div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Login Form</div>
  
      <form [formGroup]="loginForm">
        <div class="form-container">  
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> E-mail
            </mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
              <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span>
              
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password
            </mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.password.errors.minlength">This field is mandatory.</span>

              
            </mat-error>
          </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    (click)="submit()">Login</button>
            <button mat-button [routerLink]="['/register']" class="divider">Register</button>
        </div>
      </form>
    </div>
  </div> 

